.categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.categories-title {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
    color: var(--darkblue);
}

@media only screen and (max-width: 768px) {
    .categories-title {
        font-size: 3rem;
    }
}