.contact {
    background-color: var(--yellow);
    color: #fff;
    padding-bottom: 1rem;
}

.contact-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.contact-content {
    text-align: center;
}

.contact-content-list > li > h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contact-content-list > li > div {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}