.footer {
    background-color: var(--darkblue);
}

.footer > div {
    margin-left: 8rem;
    margin-right: 8rem;
}

.footer-top {
    padding-top: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-logo {
    display: flex;
    flex-direction: row;
}

.footer-top-logo-img {
    height: 5rem;
    margin-top: 1rem; 
}

.footer-top-logo-text {
    color: #fff;
}

.footer-top-logo-text-title {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 0.2rem;
}

.footer-top-logo-text-subtitle {
    margin-left: 2rem;
}

.footer-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-links ul li {
    margin: 1rem 0;
    padding: 0 3rem;
    color: #fff;
}

.footer-links ul li {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.footer-links ul li:hover {
    color: var(--yellow);
    font-weight:bold;
    transition: all 0.3s ease-in-out;
}

.footer-body {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
    border-bottom: 3px solid var(--darkestblue);
}

.footer-body div {
    margin-top: 0.5rem;
}

.footer-body-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-body-number {
    margin-bottom: 2rem;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.copyright {
    margin-top: 1rem;
    color: #fff;
}

.socials {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}

.circle:hover {
    background-color: #fff;
    border: 3px solid #fff;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .footer > div {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-top-logo {
        margin-bottom: 2rem;
    }

    .footer-top-logo-text {
        text-align: center;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li {
        padding: 0 0;
    }

    .footer-body {
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        margin-bottom: 2rem;
    }

    .socials {
        margin-bottom: 1rem;
    }
}

