.item-dir {
    padding: 3rem;
}

.item-specific-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--darkestblue);
}

.item-specific-visual {
    display:flex;
    justify-content: space-between;
}

.contact-info {
    width: 25rem;
    padding: 1rem;
    background-color: #E9E9E9;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 25px 0px rgba(0,0,0,0.42));
    box-shadow: rgb(119, 119, 119) 0em 0.2em 0.5em;
    height: min-content;
}

.item-specific-image img {
    width: 45rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 25px 0px rgba(0,0,0,0.42));
    box-shadow: rgb(119, 119, 119) 0em 0.2em 0.5em;
    margin-bottom: 1.5rem;
}

.item-specific-detail-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.2em;
    color: var(--darkestblue);
}

.item-specific-detail-desc {
    white-space: pre-wrap;
}

.item-spesific-detail-moreinfo {
    margin-top: 3rem;
}

.recommended-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.harga-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2em;
    color: var(--darkestblue);
}

.harga-info {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.contact-link-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2em;
    color: var(--darkestblue);
}

.contact-link-a {
    background-color: #42B254;
    width: 50%;
    padding: 0.7rem;
    border-radius: 10px;
    color: #fff;
    transition:all 0.3s ease-in-out;
}

.contact-link-a:hover {
    background-color: rgb(88, 197, 105);
    transition:all 0.3s ease-in-out;
}

.wa-icon{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.recommended-products-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.2em;
    margin-top: 1rem;
    color: var(--darkestblue);
}

