.search-results {
    margin-left: 3rem;
    margin-right: 3rem;
}

.search-results-title {
    text-align: center;
    font-size: 1rem;
    font-weight:500;
    color: rgb(125, 125, 125);
    margin-bottom: 1rem;
    margin-top: 1em;
}

.search-results-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 3rem;
}