.search-results {
    margin-left: 3rem;
    margin-right: 3rem;
}

.search-results-title {
    text-align: center;
    font-size: 1rem;
    font-weight:500;
    color: rgb(125, 125, 125);
    margin-bottom: 1rem;
    margin-top: 1em;
}

.search-results-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-gap: 1rem;
    margin-bottom: 3rem;
}

.search-results-wrapper:has(.no-item) {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .search-results-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width:768px) {
    .search-results-wrapper {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .search-results-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .search-results-wrapper {
        width: 95%;
        margin: 0 auto;
    }
}