.category-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    color: var(--darkestblue);
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 3rem;
    grid-gap: 2rem;
}

.category-content {
    padding: 0 1rem;
}

@media only screen and (max-width:992px) {
    .item-list {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .item-list {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .item-list {
        width: 80%;
        margin: 0 auto;
    }
}
