.error-page-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 30vh;
    color: var(--darkestblue);
}

.error-page-subtitle {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--darkblue);
}

.error {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--darkblue);
}

.btn-return {
    background-color: var(--darkestblue);
    color: #fff;
    font-size: 1.5em;
    /*center the button*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 30vh;
    transition: all 0.3s ease-in-out;
}

.btn-return:hover {
    background-color: var(--darkblue);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

